<footer class="page-footer font-small indigo fixed-bottom">
    <div class="footer-copyright text-center py-3">Visit our socials!
        <a href="https://www.facebook.com/McDonalds/" target="_blank">Facebook</a>    
        <a href="https://www.x.com/McDonalds" target="_blank">Twitter</a>  
        <a href="https://www.youtube.com/channel/UCRI5ZedBs0_BYY4PlxD6m7w" target="_blank">Youtube</a>   
        <a href="https://www.instagram.com/mcdonalds/" target="_blank">Instagram</a>       
    </div>
</footer>