{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-0 p-4 text-center" style="font-size: 2em;">
            <h1>McDonalds Ordering App</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-0 p-4 text-center" style="font-size:2em;">
            <h2>Place an Order!</h2>
            <a href="{% url 'order' %}" class="btn btn-outline-primary" style="font-size: 1.5em;">Order Now</a>
        </div>
    </div>
</div>
{% endblock content %}
